# Virtual environment
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo

# auth
.auth/
.env

# Generated aritifacts
meat-deals.html
docs/prototypes/

# Node / frontend build output
node_modules/
dist/

# SQLite cache
*.db

# Test cache
.pytest_cache/

# Test error dumps
error_dump.html

# Test Debugging Artifacts
*trace.zip
allure-report/
allure-results/
test-results/
groceries/webapp/ui/previews

# OS files
.DS_Store

# learnings
learnings.md