# Virtual environment
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo

# auth
.auth/
.env

# Generated aritifacts
meat-compare.html

# Test cache
.pytest_cache/

# Test error dumps
error_dump.html

# Test Debugging Artifacts
*trace.zip

# OS files
.DS_Store

# learnings
learnings.md